<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727006768161-ov7b3ajsii0bv1cnvs279jlqha6ddhhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727006768161-ov7b3ajsii0bv1cnvs279jlqha6ddhhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727006768161-1u5m132oluhooq0s5h44irtrv377s0p0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTDwMhMiKBSV3mzUoFmFOZqCU1DIu3rJE</string>
	<key>GCM_SENDER_ID</key>
	<string>727006768161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onimta.onlineorderapp</string>
	<key>PROJECT_ID</key>
	<string>online-food-order-d220b</string>
	<key>STORAGE_BUCKET</key>
	<string>online-food-order-d220b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727006768161:ios:5d84a0c8444e3c397fc760</string>
</dict>
</plist>